@font-face {
    font-family: "Roboto-Regular";
    src: url(../assets/Roboto-Regular.ttf) format("truetype");
}

:root{
    --main-font-title: ;
    --main-font-text: "Roboto-Regular" ;

    --main-color-sticker-background: rgba(221, 221, 211, 0.65) ;
    --main-color-violet: #a333ff;
    --main-color-violet-pale: rgba(163,51,255,0.3);
    --main-color-white: white;
    --main-color-black: black;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--main-color-black);
}

a:visited{
    color: initial;
}

a:hover{
    color: var(--main-color-violet);
}

input{
    outline: none;
}

button{
    outline: none;
    cursor: pointer;
}

body{
    margin: 0;
    font-family: var(--main-font-text);
}