.catecard_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

.catecard_wrapper img{
    display: none;
}

.catecard_more{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    height: fit-content;
    margin-bottom: 2rem;
}
