.breed_wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.breed_up{
    width: 30px;
    position: fixed;
    bottom: 40px;
    right: 40px;
}



